@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #ddeffa90;
  min-width: 320px;
  max-width: 1024px;
  min-height: 100vh;
}


